<div class="container text-center">
    <img src="https://www.sendx.io/hubfs/Email-Messages-for-Order-Confirmation-Page-v3.png" alt="success image" class="img-fluid">
</div>
<%= link_to 'back to shop', shop_path ,class:"container text-center"%>
<%= link_to 'show orders', orders_path ,class:"container text-center"%>
